/* Number of Columns */
$columns: 4;

$color-background: #f5f3ef ;
$color-primary: #3c8b9c;
$color-secondary: #6fbf44;
$color-secondary-hover: #65a443;
$color-block-bg: #fff;
$color-block-head: #fff;
$color-alternate: #f4f4f4;
$color-link: #1f2c36;
/*
$color-default: #0;
*/